.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .search {
    max-width: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
  }
  
  .search input {
    margin-right: 10px;
    width: 50%;
  }
  
  .no_content {
    text-align: center;
  }
  
  .no_content p {
    margin-bottom: 1.5em;
  }
  
  .no_content a {
    padding: 10px 25px;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }